Source: ros-hydro-geometric-shapes
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libassimp-dev, libboost-all-dev, libeigen3-dev, libqhull-dev, ros-hydro-catkin, ros-hydro-console-bridge, ros-hydro-eigen-stl-containers, ros-hydro-octomap, ros-hydro-random-numbers, ros-hydro-resource-retriever, ros-hydro-shape-msgs, ros-hydro-shape-tools
Homepage: http://ros.org/wiki/geometric_shapes
Standards-Version: 3.9.2

Package: ros-hydro-geometric-shapes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libboost-all-dev, libeigen3-dev, libqhull-dev, ros-hydro-console-bridge, ros-hydro-eigen-stl-containers, ros-hydro-octomap, ros-hydro-random-numbers, ros-hydro-resource-retriever, ros-hydro-shape-msgs, ros-hydro-shape-tools
Description: This package contains generic definitions of geometric shapes and bodies.
